assets/PL_NFSe_1.00A/tiposComplexos_v1.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
           targetNamespace="http://www.sped.fazenda.gov.br/nfse"
           xmlns="http://www.sped.fazenda.gov.br/nfse"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema_v1.00.xsd"/>
  <xs:include schemaLocation="tiposSimples_v1.00.xsd"/>

  <!--TIPO COMPLEXO NFS-e-->
  <xs:complexType name="TCNFSe">
    <xs:sequence>
      <xs:element name="infNFSe" type="TCInfNFSe"/>
      <xs:element ref="ds:Signature"/>
    </xs:sequence>
    <xs:attribute name="versao" type="TVerNFSe" use="required"/>
  </xs:complexType>

  <!--GRUPO DE INFORMAÇÕES DA NFS-e-->
  <xs:complexType name="TCInfNFSe">
    <xs:sequence>
      <xs:element name="cMunEmi" type="TSCodMunIBGE">
        <xs:annotation>
          <xs:documentation>
            O código de município utilizado pelo Sistema Nacional NFS-e é o código definido para cada município pertencente ao ""Anexo V – Tabela de Código de Municípios do IBGE"", que consta ao final do Manual de Orientação ao Contribuinte do ISSQN para a Sefin Nacional NFS-e.
            O município emissor da NFS-e é aquele município em que o emitente da DPS está cadastrado e autorizado a ""emitir uma NFS-e"", ou seja, emitir uma DPS para que o sistema nacional valide as informações nela prestadas e gere a NFS-e correspondente para o emitente.
            Para que o sistema nacional emita a NFS-e o município emissor deve ser conveniado e estar ativo no sistema nacional. Além disso o convênio do município deve permitir que os contribuintes do município utilize os emissores públicos do Sistema Nacional NFS-e
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="xMunEmi" type="TSDesc150">
        <xs:annotation>
          <xs:documentation>
            Descrição do código do IBGE do município emissor da NFS-e.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cMunIncid" type="TSCodMunIBGE">
        <xs:annotation>
          <xs:documentation>
            O código de município utilizado pelo Sistema Nacional NFS-e é o código definido para cada município pertencente ao ""Anexo V – Tabela de Código de Municípios do IBGE"", que consta ao final do Manual de Orientação ao Contribuinte do ISSQN para a Sefin Nacional NFS-e.
            O município de incidência do ISSQN é determinado automaticamente pelo sistema, conforme regras do aspecto espacial da lei complementar federal (LC 116/03) que são válidas para todos  os municípios.
            http://www.planalto.gov.br/ccivil_03/Leis/LCP/Lcp116.htm
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="xMunIncid" type="TSDesc150">
        <xs:annotation>
          <xs:documentation>
            A descrição do código de município utilizado pelo Sistema Nacional NFS-e é o nome de cada município pertencente ao "Anexo V – Tabela de Código de Municípios do IBGE", que consta ao final do Manual de Orientação ao Contribuinte do ISSQN para a Sefin Nacional NFS-e.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nNFSe" type="TSNumNFSe">
        <xs:annotation>
          <xs:documentation>
            Número sequencial por tipo de emitente da NFS-e.
            A Sefin Nacional NFS-e irá gerar o número da NFS-e de forma sequencial por emitente. Por se tratar de um ambiente altamente transacional, a Sefin Nacional NFS-e não irá reutilizar números inutilizados durante a geração da NFS-e.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="xTribNac" type="TSDesc150">
        <xs:annotation>
          <xs:documentation>
            Descrição do código de tributação nacional do ISSQN.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="xTribMun" type="TSDesc150" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Descrição do código de tributação municipal do ISSQN.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="xNBS" type="TSDesc150" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Descrição do código da NBS.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="verAplic" type="TSVerAplic">
        <xs:annotation>
          <xs:documentation>Versão do aplicativo que gerou a NFS-e</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ambGer" type="TSAmbienteGerador">
        <xs:annotation>
          <xs:documentation>Ambiente gerador da NFS-e</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tpEmis" type="TSTipoEmissao">
        <xs:annotation>
          <xs:documentation>
            Processo de Emissão da DPS:
            1 - Emissão com aplicativo do contribuinte (via Web Service);
            2 - Emissão com aplicativo disponibilizado pelo fisco (Web);
            3 - Emissão com aplicativo disponibilizado pelo fisco (App);
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="procEmi" type="TSProcEmissao">
        <xs:annotation>
          <xs:documentation>
            Processo de Emissão da DPS:
            1 - Emissão com aplicativo do contribuinte (via Web Service);
            2 - Emissão com aplicativo disponibilizado pelo fisco (Web);
            3 - Emissão com aplicativo disponibilizado pelo fisco (App);
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cStat" type="TStat">
        <xs:annotation>
          <xs:documentation>Código do Status da mensagem</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dhProc" type="TSDateTimeUTC">
        <xs:annotation>
          <xs:documentation>
            Data/Hora da validação da DPS e geração da NFS-e. Data e hora no formato UTC (Universal Coordinated Time):AAAA-MM-DDThh:mm:ssTZD
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="emit" type="TCEmitente">
        <xs:annotation>
          <xs:documentation>
            Grupo de informações da DPS relativas ao emitente da NFS-e
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="valores" type="TCValoresNFSe">
        <xs:annotation>
          <xs:documentation>Grupo de valores referentes ao Serviço Prestado</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DPS" type="TCDPS">
        <xs:annotation>
          <xs:documentation>
            Grupo de informações da DPS relativas ao serviço prestado
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Id" type="TSIdNFSe" use="required"/>
  </xs:complexType>

  <!--TIPO COMPLEXO DO EMITENTE DA NFS-e-->
  <xs:complexType name="TCEmitente">
    <xs:sequence>
      <xs:choice>
        <xs:element name="CNPJ" type="TSCNPJ">
          <xs:annotation>
            <xs:documentation>
              Número do CNPJ do emitente da NFS-e.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="CPF" type="TSCPF">
          <xs:annotation>
            <xs:documentation>
              Número do CPF do emitente da NFS-e.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="xNome" type="TSNomeRazaoSocial">
        <xs:annotation>
          <xs:documentation>
            Nome / Razão Social do emitente.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="xFant" type="TSNomeFantasia" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Nome / Fantasia do emitente.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice minOccurs="0">
        <xs:element name="enderNac" type="TCEnderNac">
          <xs:annotation>
            <xs:documentation>Grupo de informações do endereço nacional</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="enderExt" type="TCEnderExt">
          <xs:annotation>
            <xs:documentation>Grupo de informações do endereço no exterior</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="fone" type="TSTelefone" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Número do telefone do emitente.
            (Preencher com o Código DDD + número do telefone.
            Nas operações com exterior é permitido informar o código do país + código da localidade + número do telefone)
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="email" type="TSEmail" minOccurs="0">
        <xs:annotation>
          <xs:documentation>E-mail do emitente.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!--TIPO COMPLEXO DOS VALORES DA NFS-e-->
  <xs:complexType name="TCValoresNFSe">
    <xs:sequence>
      <xs:element name="vCalcDR" type="TSDec15V2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Valor monetário (R$) de dedução/redução da base de cálculo (BC) do ISSQN.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="pRedBCBM" type="TSDec3V2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Valor percentual (%) de redução da BC do ISSQN devido a um Benefício Municipal.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vCalcBM" type="TSDec15V2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Valor monetário (R$) do percentual de redução da base de cálculo (BC) do ISSQN devido a um benefício municipal (BM).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vBC" type="TSDec15V2">
        <xs:annotation>
          <xs:documentation>
            Valor monetário (R$) do percentual de redução da base de cálculo (BC) do ISSQN devido a um benefício municipal (BM).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="pAliqAplic" type="TSDec1V2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Alíquota aplicada sobre a base de cálculo para apuração do ISSQN.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vISSQN" type="TSDec15V2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Valor do ISSQN (R$) = Valor da Base de Cálculo x Alíquota ISSQN = vBC x pAliqAplic
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vTotalRet" type="TSDec15V2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Valor total de retenções = Σ(CP + IRRF + CSLL  + ISSQN* +  (PIS + CONFINS)**)
            vTotalRet (R$) = (vRetCP + vRetIRRF + vRetCSLL) + vISSQN* + (vPIS + vCOFINS)**
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vLiq" type="TSDec15V2">
        <xs:annotation>
          <xs:documentation>
            Valor líquido = Valor do serviço - Desconto condicionado - Desconto incondicionado - Valores retidos (CP, IRRF, CSLL)* - Valores, se retidos (ISSQN, PIS, COFINS)**
            Valor Líquido (R$) = vServ – vDescIncond – vDescCond – (vRetCP + vRetIRRF + vRetCSLL)* – (vISSQN - vPIS + vCOFINS)**
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="xOutInf" type="TSDesc2000" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Uso da Administração Tributária Municipal.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!--TIPO COMPLEXO DPS-->
  <xs:complexType name="TCDPS">
    <xs:sequence>
      <xs:element name="infDPS" type="TCInfDPS"/>
      <xs:element ref="ds:Signature"/>
    </xs:sequence>
    <xs:attribute name="versao" type="TVerNFSe" use="required"/>
  </xs:complexType>

  <!--TIPO COMPLEXO PARA INFORMAÇÕES DA DPS-->
  <xs:complexType name="TCInfDPS">
    <xs:sequence>
      <xs:element name="tpAmb" type="TSTipoAmbiente">
        <xs:annotation>
          <xs:documentation>Identificação do Ambiente: 1 - Produção; 2 - Homologação</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dhEmi" type="TSDateTimeUTC">
        <xs:annotation>
          <xs:documentation>Data e hora da emissão do DPS. Data e hora no formato UTC (Universal Coordinated Time): AAAA-MM-DDThh:mm:ssTZD</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="verAplic" type="TSVerAplic">
        <xs:annotation>
          <xs:documentation>Versão do aplicativo que gerou o DPS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serie" type="TSSerieDPS">
        <xs:annotation>
          <xs:documentation>Número do equipamento emissor do DPS ou série do DPS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nDPS" type="TSNumDPS">
        <xs:annotation>
          <xs:documentation>Número do DPS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dCompet" type="TSData">
        <xs:annotation>
          <xs:documentation>Data em que se iniciou a prestação do serviço: Dia, mês e ano (AAAAMMDD)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tpEmit" type="TSEmitenteDPS">
        <xs:annotation>
          <xs:documentation>Emitente da DPS: 1 - Prestador; 2 - Tomador; 3 - Intermediário</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="subst" type="TCSubstituicao" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Chave de acesso da NFS-e a ser substituída</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="prest" type="TCInfoAtor">
        <xs:annotation>
          <xs:documentation>Grupo de informações do DPS relativas ao Prestador de Serviços</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="toma" type="TCInfoAtor" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Grupo de informações do DPS relativas ao Tomador de Serviços</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="interm" type="TCInfoAtor" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Grupo de informações do DPS relativas ao Intermediário de Serviços</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serv" type="TCServPrest">
        <xs:annotation>
          <xs:documentation>Grupo de informações do DPS relativas ao Serviço Prestado</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="trib" type="TCInfoTributacao">
        <xs:annotation>
          <xs:documentation>
            Grupo de informações relativas à tributação do serviço prestado
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Id" type="TSIdDPS" use="required"/>
  </xs:complexType>

  <!--TIPO COMPLEXO PARA INFORMAÇÕES DE SUBSTITUIÇÃO DE NFS-E-->
  <xs:complexType name="TCSubstituicao">
    <xs:sequence>
      <xs:element name="chSubstda" type="TSChaveNFSe">
        <xs:annotation>
          <xs:documentation>Chave de acesso da NFS-e a ser substituída</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cMotivo" type="TSCodJustSubst">
        <xs:annotation>
          <xs:documentation>
            Código de justificativa para substituição de NFS-e:
            1 - Enquadramento / Desenquadramento do Simples Nacional;
            2 - Imunidade / Isenção retroativa;
            3 - Rejeição de NFS-e pelo tomador ou pelo intermediário se responsável pelo recolhimento do tributo;
            9 - Outros;
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="xMotivo" type="TSMotivoSubst" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Descrição do motivo da substituição da NFS-e</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!--TIPO COMPLEXO PARA INFORMAÇÕES DE UM ATOR DA NFS-E-->
  <xs:complexType name="TCInfoAtor">
    <xs:annotation>
      <xs:documentation>Informações dos atores da NFS-e. O ator pode ser o prestador, o tomador, o intermediário ou o fornecedor</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="CNPJ" type="TSCNPJ">
          <xs:annotation>
            <xs:documentation>Número do CNPJ</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="CPF" type="TSCPF">
          <xs:annotation>
            <xs:documentation>Número do CPF</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="NIF" type="TSNIF">
          <xs:annotation>
            <xs:documentation>Número de Identificação Fiscal fornecido por órgão de administração tributária no exterior</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="IM" type="TSInscMun" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Número da inscrição municipal</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="xNome" type="TSNomeRazaoSocial">
        <xs:annotation>
          <xs:documentation>Nome/Razão Social</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice minOccurs="0">
        <xs:element name="enderNac" type="TCEnderNac">
          <xs:annotation>
            <xs:documentation>Grupo de informações do endereço nacional</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="enderExt" type="TCEnderExt">
          <xs:annotation>
            <xs:documentation>Grupo de informações do endereço no exterior</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="fone" type="TSTelefone" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Número do telefone do prestador:
            Preencher com o Código DDD + número do telefone.
            Nas operações com exterior é permitido informar o código do país + código da localidade + número do telefone)
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="email" type="TSEmail" minOccurs="0">
        <xs:annotation>
          <xs:documentation>E-mail</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!--TIPO COMPLEXO PARA ENDEREÇO NACIONAL-->
  <xs:complexType name="TCEnderNac">
    <xs:sequence>
      <xs:element name="xLgr" type="TSLogradouro">
        <xs:annotation>
          <xs:documentation>Tipo e nome do logradouro da localização do imóvel</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nro" type="TSNumeroEndereco">
        <xs:annotation>
          <xs:documentation>Número do imóvel</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="xCpl" type="TSComplementoEndereco" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Complemento do endereço</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="xBairro" type="TSBairro">
        <xs:annotation>
          <xs:documentation>Bairro</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cMun" type="TSCodMunIBGE">
        <xs:annotation>
          <xs:documentation>Código do município, conforme Tabela do IBGE</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UF" type="TSUF">
        <xs:annotation>
          <xs:documentation>Sigla da unidade da federação</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CEP" type="TSCEP">
        <xs:annotation>
          <xs:documentation>Número do CEP</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!--TIPO COMPLEXO PARA ENDEREÇO NO EXTERIOR-->
  <xs:complexType name="TCEnderExt">
    <xs:sequence>
      <xs:element name="cPais" type="TSCodPaisISO">
        <xs:annotation>
          <xs:documentation>Código do país (Tabela de Países ISO)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="xEnderExt" type="TSEnderCompletoExt">
        <xs:annotation>
          <xs:documentation>Descrição completa do endereço do exterior</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!--TIPO COMPLEXO PARA INFORMAÇÕES DO SERVIÇO PRESTADO-->
  <xs:complexType name="TCServPrest">
    <xs:sequence>
      <xs:element name="cMunPrestacao" type="TSCodMunIBGE" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Código do município onde o serviço foi prestado (tabela do IBGE)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cPaisPrestacao" type="TSCodPaisISO" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Código do país onde o serviço foi prestado (Tabela de Países ISO)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cTribNac" type="TSCodTribNac">
        <xs:annotation>
          <xs:documentation>
            Código de tributação nacional do ISSQN:
            Regra de formação - 6 dígitos numéricos sendo: 2 para Item (LC 116/2003), 2 para Subitem (LC 116/2003) e 2 para Desdobro Nacional
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cTribMun" type="TCCodTribMun" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Código de tributação municipal do ISSQN</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="xDescServ" type="TSDesc2000">
        <xs:annotation>
          <xs:documentation>Descrição completa do serviço prestado</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cNBS" type="TSCodNBS" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Código NBS (Nomenclatura Brasileira de Serviços, Intangíveis e outras Operações que produzam Variações no Patrimônio) correspondente ao serviço prestado</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vReceb" type="TSDec15V2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Valor monetário recebido pelo intermediário do serviço (R$)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vServ" type="TSDec15V2">
        <xs:annotation>
          <xs:documentation>Valor dos serviços em R$</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vDescIncond" type="TSDec15V2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Valor monetário do desconto incondicionado (R$)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vDescCond" type="TSDec15V2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Valor monetário do desconto condicionado (R$)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="comExt" type="TCComExterior" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Grupo de informações relativas à exportação/importação de serviço prestado</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="pedagio" type="TCPedagio" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Grupo de informações relativas a pedágio</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="atvEvento" type="TCAtvEvento" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Grupo de informações do DPS relativas à Evento</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="obra" type="TCInfoObra" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Grupo de informações do DPS relativas à serviço de obra</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="idDocTec" type="TSDRT" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Identificador de Documento de Responsabilidade Técnica: ART, RRT, DRT, Outros.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="docRef" type="TSDesc255" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Chave da nota, número identificador da nota, número do contrato ou outro identificador de documento emitido pelo prestador de serviços, que subsidia a emissão dessa nota pelo tomador do serviço ou intermediário (preenchimento obrigatório caso a nota esteja sendo emitida pelo Tomador ou intermediário do serviço).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="xInfComp" type="TSDescInfCompl" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Informações complementares
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dedRed" type="TCInfoDedRed" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Grupo de informações relativas à dedução/redução do valor do serviço prestado
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!--TIPO COMPLEXO PARA INFORMAÇÕES DE COMÉRCIO EXTERIOR-->
  <xs:complexType name="TCComExterior">
    <xs:sequence>
      <xs:element name="dtIniPrest" type="xs:date">
        <xs:annotation>
          <xs:documentation>Data em que se iniciou a prestação do serviço Ano, Mês e Dia (AAAA-MM-DD)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dtFimPrest" type="xs:date">
        <xs:annotation>
          <xs:documentation>Data em que foi ou será concluída a prestação do serviço Ano, Mês e Dia (AAAA-MM-DD)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="mdPrestacao" type="TSModPrestComExt">
        <xs:annotation>
          <xs:documentation>
            Modo de Prestação:
            1 - Transfronteiriço;
            2 - Consumo no Brasil;
            3 - Presença Comercial no Exterior;
            4 - Movimento Temporário de Pessoas Físicas;
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tpMoeda" type="TSCodMoeda">
        <xs:annotation>
          <xs:documentation>Identifica a moeda da transação comercial</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vServMoeda" type="TSDec15V2">
        <xs:annotation>
          <xs:documentation>Valor do serviço prestado expresso em moeda estrangeira especificada em tpmoeda</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="enquadRVS" type="TSEnquadRVS">
        <xs:annotation>
          <xs:documentation>
            Mecanismos de Apoio / Fomento (Enquadramento) no RVS (Registro de Venda de Serviços):
            0 - Nenhum;
            1 - ACC - Adiantamento sobre Contrato de Câmbio – Redução a Zero do IR e do IOF;
            2 - ACE – Adiantamento sobre Cambiais Entregues - Redução a Zero do IR e do IOF;
            3 - BNDES-Exim Pós-Embarque – Serviços;
            4 - BNDES-Exim Pré-Embarque - Serviços;
            5 - FGE - Fundo de Garantia à Exportação;
            6 - PROEX - EQUALIZAÇÃO
            7 - PROEX - Financiamento;
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="enquadRPC" type="TSEnquadRPC">
        <xs:annotation>
          <xs:documentation>
            Mecanismos de Apoio / Fomento (Enquadramento) no RPC (Registro de Presença Comercial no Exterior):
            0 - Nenhum;
            1 - BNDES-Exim Pós-Embarque – Serviços;
            2 - FGE - Fundo de Garantia à Exportação;
            3 - PROEX - EQUALIZAÇÃO
            4 - PROEX - Financiamento;
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="movTempBens" type="TSMovTempBens">
        <xs:annotation>
          <xs:documentation>
            Operação está vinculada à Movimentação Temporária de Bens:
            1 - Não
            2 - Vinculada - Declaração de Importação
            3 - Vinculada - Declaração de Exportação
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nDI" type="TSNumDocImport">
        <xs:annotation>
          <xs:documentation>Número da Declaração de Importação (DI/DSI/DA/DRI-E) averbado</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nRE" type="TSNumRegExport">
        <xs:annotation>
          <xs:documentation>Número do Registro de Exportação (RE) averbado</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="mdic" type="TSEnvMDIC">
        <xs:annotation>
          <xs:documentation>Indicador se a NFS-e deverá ser disponibilizada ao MDIC</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!--TIPO COMPLEXO PARA INFORMAÇÕES DE PEDÁGIO-->
  <xs:complexType name="TCPedagio">
    <xs:sequence>
      <xs:element name="placa" type="TSPlaca">
        <xs:annotation>
          <xs:documentation>Placa do veículo</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nEixos" type="TSNumEixos">
        <xs:annotation>
          <xs:documentation>Número de eixos para fins de cobrança</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sentido" type="TSSentido">
        <xs:annotation>
          <xs:documentation>Placa do veículo</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!--TIPO COMPLEXO PARA INFORMAÇÕES DE ATIVIDADE DE EVENTO-->
  <xs:complexType name="TCAtvEvento">
    <xs:sequence>
      <xs:element name="desc" type="TSDesc255">
        <xs:annotation>
          <xs:documentation>Descrição do evento Artístico, Cultural, Esportivo, etc</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dtIni" type="xs:date">
        <xs:annotation>
          <xs:documentation>Data de início da atividade de evento. Ano, Mês e Dia (AAAA-MM-DD)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dtFim" type="xs:date">
        <xs:annotation>
          <xs:documentation>Data de fim da atividade de evento. Ano, Mês e Dia (AAAA-MM-DD)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="id" type="TSIdeEvento">
          <xs:annotation>
            <xs:documentation>Identificação da Atividade de Evento (código identificador de evento determinado pela Administração Tributária Municipal)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ender" type="TCEnderNac">
          <xs:annotation>
            <xs:documentation>Grupo de informações relativas ao endereço da atividade, evento ou local do serviço prestado</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <!--TIPO COMPLEXO PARA INFORMAÇÕES DE ATIVIDADE DE EVENTO-->
  <xs:complexType name="TCInfoObra">
    <xs:sequence>
      <xs:element name="cObra" type="TSCodObra" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Número de identificação da obra.
            Cadastro Nacional de Obras (CNO) ou Cadastro Específico do INSS (CEI).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="inscImobFisc" type="TSInscImobFisc" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Inscrição imobiliária fiscal (código fornecido pela Prefeitura Municipal para a identificação da obra ou para fins de recolhimento do IPTU)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ender" type="TCEnderNac" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Grupo de informações do endereço da obra do serviço prestado
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!--TIPO COMPLEXO PARA INFORMAÇÕES DE DEDUÇÃO/REDUÇÃO-->
  <xs:complexType name="TCInfoDedRed">
    <xs:sequence>
      <xs:choice>
        <xs:element name="vDR" type="TSDec15V2">
          <xs:annotation>
            <xs:documentation>
              Valor monetário padrão para dedução/redução do valor do serviço
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="pDR" type="TSDec3V2">
          <xs:annotation>
            <xs:documentation>
              Valor percentual padrão para dedução/redução do valor do serviço
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="documento" type="TCDocDedRed" maxOccurs="1000">
          <xs:annotation>
            <xs:documentation>
              Grupo de informações de documento utilizado para Dedução/Redução do valor do serviço
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <!--TIPO COMPLEXO PARA INFORMAÇÕES DE DOCUMENTO INFORMADO PARA DEDUÇÃO/REDUÇÃO-->
  <xs:complexType name="TCDocDedRed">
    <xs:sequence>
      <xs:choice>
        <xs:element name="chNFSe" type="TSChaveNFSe">
          <xs:annotation>
            <xs:documentation>Chave de Acesso da NFS-e (Padrão Nacional)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="chNFe" type="TSChaveNFe">
          <xs:annotation>
            <xs:documentation>Chave de Acesso da NF-e</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="outNotaeMun" type="TCDocOutNFSe">
          <xs:annotation>
            <xs:documentation>Grupo de informações de Outras NFS-e (Padrão anterior de NFS-e)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="NFNFS" type="TCDocNFNFS">
          <xs:annotation>
            <xs:documentation>Grupo de informações de NF ou NFS (Modelo não eletrônico)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="outDocFisc" type="TSDesc255">
          <xs:annotation>
            <xs:documentation>Número de documento fiscal</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="outDoc" type="TSDesc255">
          <xs:annotation>
            <xs:documentation>Número de documento não fiscal</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="tipo" type="TSIdeDedRed">
        <xs:annotation>
          <xs:documentation>
            Identificação da Dedução/Redução:
            1 – Alimentação e bebidas/frigobar;
            2 – Materiais;
            3 – Produção externa;
            4 – Reembolso de despesas;
            5 – Repasse consorciado;
            6 – Repasse plano de saúde;
            7 – Serviços;
            8 – Subempreitada de mão de obra;
            99 – Outras deduções;
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="xDescOut" type="TSDescOutDedRed" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Descrição da Dedução/Redução quando a opção é "99 – Outras Deduções"</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dtEmiDoc" type="xs:date">
        <xs:annotation>
          <xs:documentation>Data da emissão do documento dedutível. Ano, mês e dia (AAAA-MM-DD)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vDedutivelRedutivel" type="TSDec15V2">
        <xs:annotation>
          <xs:documentation>
            Valor monetário total dedutível/redutível no documento informado (R$).
            Este é o valor total no documento informado que é passível de dedução/redução.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vDeducaoReducao" type="TSDec15V2">
        <xs:annotation>
          <xs:documentation>
            Valor monetário utilizado para dedução/redução do valor do serviço da NFS-e que está sendo emitida (R$).
            Deve ser menor ou igual ao valor deduzível/redutível (vDedutivelRedutivel).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="forne" type="TCInfoAtor">
        <xs:annotation>
          <xs:documentation>Grupo de informações do Fornecedor em Deduções de Serviços</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!--TIPO COMPLEXO PARA INFORMAÇÕES DE DOCUMENTO INFORMADO PARA DEDUÇÃO/REDUÇÃO DO TIPO OUTRAS NFS-E-->
  <xs:complexType name="TCDocOutNFSe">
    <xs:sequence>
      <xs:element name="cMunNota" type="TSCodMunIBGE">
        <xs:annotation>
          <xs:documentation>Código Município emissor da nota eletrônica municipal (Tabela do IBGE)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nNota" type="TSNum15Dig">
        <xs:annotation>
          <xs:documentation>Número da nota eletrônica municipal</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cvNota" type="TSCodVerificacao">
        <xs:annotation>
          <xs:documentation>Código de Verificação da nota eletrônica municipal</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!--TIPO COMPLEXO PARA INFORMAÇÕES DE DOCUMENTO INFORMADO PARA DEDUÇÃO/REDUÇÃO DO TIPO NF ou NFS-->
  <xs:complexType name="TCDocNFNFS">
    <xs:sequence>
      <xs:element name="nNFS" type="TSNum7Dig">
        <xs:annotation>
          <xs:documentation>Número da Nota Fiscal NF ou NFS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="modNFS" type="TSNum15Dig">
        <xs:annotation>
          <xs:documentation>Modelo da Nota Fiscal NF ou NFS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serieNFS" type="TSSerieNFNFS">
        <xs:annotation>
          <xs:documentation>Série Nota Fiscal NF ou NFS</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!--TIPO COMPLEXO PARA INFORMAÇÕES DE TRIBUTAÇÃO DA NFS-E-->
  <xs:complexType name="TCInfoTributacao">
    <xs:sequence>
      <xs:element name="opSimpNac" type="TSOpSimpNac">
        <xs:annotation>
          <xs:documentation>
            Situação perante o Simples Nacional:
            1 - Não Optante;
            2 - Optante - Microempreendedor Individual (MEI);
            3 - Optante - Microempresa ou Empresa de Pequeno Porte (ME/EPP);
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="opLimMEI" type="TSOpSNLimUltrap" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Opção para que o Microempreendedor Individual (MEI) possa emitir a NFS-e com apuração e recolhimento dos tributos na forma do Simples Nacional não-MEI
            (na forma de Microempresa ou Empresa de Pequeno Porte - LC 123/2006 Art. 18, §18-A).
            0 - Limite receita bruta MEI não ultrapassado;
            1 - Limite receita bruta MEI ultrapassado;
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="opLimSimpNac" type="TSOpSNLimUltrap" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Opção para que o contribuinte optante pelo Simples Nacional possa emitir a nota com o ISSQN calculado pela alíquota normal do serviço de acordo com a legislação municipal de incidência do imposto.
            Caput do artigo 20 e o § 4º do artigo 19, ambos da LC 123/2006.
            0 - Limite receita bruta ME/EPP não ultrapassado;
            1 - Limite receita bruta ME/EPP ultrapassado;
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="issqn" type="TCTribISSQN" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Grupo de informações relacionados ao Imposto Sobre Serviços de Qualquer Natureza - ISSQN
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="outros" type="TCTribOutros" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Grupo de informações de outros tributos relacionados ao serviço prestado
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="totTrib" type="TCTribTotal">
        <xs:annotation>
          <xs:documentation>
            Grupo de informações para totais aproximados dos tributos relacionados ao serviço prestado
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!--TIPO COMPLEXO PARA INFORMAÇÕES DE TRIBUTAÇÃO ESPECÍFICA DO ISSQN-->
  <xs:complexType name="TCTribISSQN">
    <xs:sequence>
      <xs:element name="regEspTrib" type="TSRegEspTrib">
        <xs:annotation>
          <xs:documentation>
            Tipos de Regimes Especiais de Tributação:
            0 - Nenhum;
            1 - Ato Cooperado (Cooperativa);
            2 - Estimativa;
            3 - Microempresa Municipal;
            4 - Notário ou Registrador;
            5 - Profissional Autônomo;
            6 - Sociedade de Profissionais;
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="exigISSQN" type="TSExigibISSQN">
        <xs:annotation>
          <xs:documentation>
            Exigibilidade do ISSQN da NFS-e:
            1 - Exigível;
            2 - Imunidade
            3 - Benefício Municipal/Isenção;
            4 - Nao incidencia;
            5 - Exportacao;
            6 - Exigibilidade Suspensa por Decisao Judicial;
            7 - Exigibilidade Suspensa por Processo Administrativo;
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nBMIsenc" type="TSIdeBenefMun" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Identificação da Lei parametrizada pelo município que define o benefício.
            Trata-se de um identificador único gerado pelo Sistema Nacional com a seguinte regra de formação:
            5 dígitos com o código IBGE do município + 4 dígitos com número sequencial.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vInfoBM" type="TSDec15V2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Valor monetário informado pelo emitente para redução da base de cálculo (BC) do ISSQN devido a um Benefício Municipal (BM).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nProcesso" type="TSNumProcesso" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Número do processo judicial ou administrativo de suspensão da exigibilidade.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tpImunidade" type="TSTipoImunidadeISSQN" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Identificação da Imunidade do ISSQN – somente para o caso de Imunidade:
            1 - Patrimônio, renda ou serviços, uns dos outros (CF88, Art 150, VI, a);
            2 - Templos de qualquer culto (CF88, Art 150, VI, b);
            3 - Patrimônio, renda ou serviços dos partidos políticos, inclusive suas fundações, das entidades sindicais dos trabalhadores, das instituições de educação e de assistência social, sem fins lucrativos, atendidos os requisitos da lei (CF88, Art 150, VI, c);
            4 - Livros, jornais, periódicos e o papel destinado a sua impressão (CF88, Art 150, VI, d);
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="pAliq" type="TSDec1V2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Valor da alíquota (%) do serviço prestado relativo ao município sujeito ativo (município de incidência) do ISSQN.
            Se o município de incidência pertence ao Sistema Nacional NFS-e a alíquota estará parametrizada e, portanto, será fornecida pelo sistema.
            Se o município de incidência não pertence ao Sistema Nacional NFS-e a alíquota não estará parametrizada e, por isso, deverá ser fornecida pelo emitente.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tpRetISSQN" type="TSTipoRetISSQN">
        <xs:annotation>
          <xs:documentation>
            Tipo de retencao do ISSQN:
            1 - Não Retido;
            2 - Retido pelo Tomador;
            3 - Retido pelo Intermediario;
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!--TIPO COMPLEXO PARA INFORMAÇÕES DE TRIBUTAÇÃO ESPECÍFICA PARA OUTROS TRIBUTOS-->
  <xs:complexType name="TCTribOutros">
    <xs:sequence>
      <xs:element name="piscofins" type="TCTribOutrosPisCofins" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Grupo de informações dos tributos PIS/COFINS
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vRetCP" type="TSDec15V2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Valor monetário do CP(R$).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vRetIRRF" type="TSDec15V2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Valor monetário do IRRF (R$).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vRetCSLL" type="TSDec15V2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Valor monetário do CSLL (R$).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!--TIPO COMPLEXO PARA INFORMAÇÕES DE TRIBUTAÇÃO ESPECÍFICA PARA OUTROS TRIBUTOS DO TIPO PIS/COFINS-->
  <xs:complexType name="TCTribOutrosPisCofins">
    <xs:sequence>
      <xs:element name="CST" type="TSTipoCST">
        <xs:annotation>
          <xs:documentation>
            Código de Situação Tributária do PIS/COFINS (CST):
            1 - Operação Tributável com Alíquota Básica;
            2 - Operação Tributável com Alíquota Diferenciada;
            3 - Operação Tributável com Alíquota por Unidade de Medida de Produto;
            4 - Operação Tributável monofásica - Revenda a Alíquota Zero;
            5 - Operação Tributável por Substituição Tributária;
            6 - Operação Tributável a Alíquota Zero;
            7 - Operação Tributável da Contribuição;
            8 - Operação sem Incidência da Contribuição;
            9 - Operação com Suspensão da Contribuição;
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vBCPisCofins" type="TSDec15V2">
        <xs:annotation>
          <xs:documentation>
            Valor da Base de Cálculo do PIS/COFINS (R$).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="pAliqPis" type="TSDec2V2">
        <xs:annotation>
          <xs:documentation>
            Valor da Alíquota do PIS (%).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="pAliqCofins" type="TSDec2V2">
        <xs:annotation>
          <xs:documentation>
            Valor da Alíquota da COFINS (%).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vPis" type="TSDec15V2">
        <xs:annotation>
          <xs:documentation>
            Valor monetário do PIS (R$).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vCofins" type="TSDec15V2">
        <xs:annotation>
          <xs:documentation>
            Valor monetário do COFINS (R$).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tpRetPisConfins" type="TSTipoRetPISCofins">
        <xs:annotation>
          <xs:documentation>
            Tipo de retencao do Pis/Cofins:
            1 - Retido;
            2 - Não Retido;
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!--TIPO COMPLEXO PARA INFORMAÇÕES DE TRIBUTAÇÃO ESPECÍFICA PARA TOTAL DOS TRIBUTOS-->
  <xs:complexType name="TCTribTotal">
    <xs:sequence>
      <xs:choice>
        <xs:element name="vTotTrib" type="TCTribTotalMonet">
          <xs:annotation>
            <xs:documentation>
              Valor monetário total aproximado dos tributos, em conformidade com o artigo 1o da Lei no 12.741/2012
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="pTotTrib" type="TCTribTotalPercent">
          <xs:annotation>
            <xs:documentation>
              Valor percentual total aproximado dos tributos, em conformidade com o artigo 1o da Lei no 12.741/2012
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="indTotTrib" type="TSTipoIndTotTrib">
          <xs:annotation>
            <xs:documentation>
              Indicador de informação de valor total de tributos. Possui valor fixo igual a zero (indTotTrib=0).
              Não informar nenhum valor estimado para os Tributos (Decreto 8.264/2014).
              0 - Não;
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="pTotTribSN" type="TSDec2V2">
          <xs:annotation>
            <xs:documentation>
              Valor percentual aproximado do total dos tributos da alíquota do Simples Nacional (%)
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <!--TIPO COMPLEXO PARA INFORMAÇÕES DE TRIBUTAÇÃO ESPECÍFICA PARA TOTAL DOS TRIBUTOS-->
  <xs:complexType name="TCTribTotalMonet">
    <xs:sequence>
      <xs:element name="vTotTribFed" type="TSDec15V2">
        <xs:annotation>
          <xs:documentation>
            Valor monetário total aproximado dos tributos federais (R$).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vTotTribEst" type="TSDec15V2">
        <xs:annotation>
          <xs:documentation>
            Valor monetário total aproximado dos tributos estaduais (R$).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vTotTribMun" type="TSDec15V2">
        <xs:annotation>
          <xs:documentation>
            Valor monetário total aproximado dos tributos municipais (R$).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!--TIPO COMPLEXO PARA INFORMAÇÕES DE TRIBUTAÇÃO ESPECÍFICA PARA TOTAL DOS TRIBUTOS-->
  <xs:complexType name="TCTribTotalPercent">
    <xs:sequence>
      <xs:element name="pTotTribFed" type="TSDec2V2">
        <xs:annotation>
          <xs:documentation>
            Valor percentual total aproximado dos tributos federais (%).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="pTotTribEst" type="TSDec2V2">
        <xs:annotation>
          <xs:documentation>
            Valor percentual total aproximado dos tributos estaduais (%).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="pTotTribMun" type="TSDec2V2">
        <xs:annotation>
          <xs:documentation>
            Valor percentual total aproximado dos tributos municipais (%).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
