assets/PL_NFSe_1.00A/tiposSimples_v1.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.sped.fazenda.gov.br/nfse"
           xmlns="http://www.sped.fazenda.gov.br/nfse"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified">

  <xs:simpleType name="TVerNFSe">
    <xs:annotation>
      <xs:documentation>Tipo Versão da NF-e - 1.00</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:pattern value="1\.00"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSString">
    <xs:annotation>
      <xs:documentation>Tipo string genérico</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:pattern value="[!-ÿ]{1}[ -ÿ]{0,}[!-ÿ]{1}|[!-ÿ]{1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSIdNFSe">
    <xs:annotation>
      <xs:documentation>
        Informar o identificador precedido do literal ‘ID’. A regra de formação do identificador de 52 posições da DPS é:
        "ID" + Cód.Mun.(7) + Amb.Ger.(1) + Tipo de Inscrição Federal(1) + Inscrição Federal(14) + No.NFS-e(13) + AnoMes Emis.(4) + Cód.Num.(9) + DV(1)
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:maxLength value="52"/>
      <xs:pattern value="ID[0-9]{50}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSIdDPS">
    <xs:annotation>
      <xs:documentation>
        Informar o identificador precedido do literal ‘ID’. A regra de formação do identificador de 44 posições da DPS é:
        "ID" + Cód.Mun (7) + Tipo de Inscrição Federal (1) + Inscrição Federal (14 - CPF completar com 000 à esquerda) + Série DPS (5)+ Núm. DPS (15)
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:maxLength value="44"/>
      <xs:pattern value="ID[0-9]{42}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSTipoAmbiente">
    <xs:annotation>
      <xs:documentation>
        Tipos de ambiente do Sistema Nacional NFS-e: 1 - Produção; 2 - Homologação;
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSAmbienteGerador">
    <xs:annotation>
      <xs:documentation>
        Tipo Ambiente Gerador de NFS-e:
        1 - Prefeitura;
        2 - Sistema Nacional da NFS-e;
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSTipoEmissao">
    <xs:annotation>
      <xs:documentation>
        Tipo de emissão da NFS-e:
        1 - Emissão normal no modelo da NFS-e Nacional;
        2 - Emissão original em leiaute próprio do município com transcrição para o modelo da NFS-e Nacional.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSProcEmissao">
    <xs:annotation>
      <xs:documentation>
        Processo de Emissão da DPS:
        1 - Emissão com aplicativo do contribuinte (via Web Service);
        2 - Emissão com aplicativo disponibilizado pelo fisco (Web);
        3 - Emissão com aplicativo disponibilizado pelo fisco (App);
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSData">
    <xs:annotation>
      <xs:documentation> Tipo data no formato AAAA-MM-DD</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:pattern value="(((20(([02468][048])|([13579][26]))-02-29))|(20[0-9][0-9])-((((0[1-9])|(1[0-2]))-((0[1-9])|(1\d)|(2[0-8])))|((((0[13578])|(1[02]))-31)|(((0[1,3-9])|(1[0-2]))-(29|30)))))"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSDateTimeUTC">
    <xs:annotation>
      <xs:documentation>Data e Hora, formato UTC (AAAA-MM-DDThh:mm:ssTZD, onde TZD = +hh:mm ou -hh:mm)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:pattern value="(((20(([02468][048])|([13579][26]))-02-29))|(20[0-9][0-9])-((((0[1-9])|(1[0-2]))-((0[1-9])|(1\d)|(2[0-8])))|((((0[13578])|(1[02]))-31)|(((0[1,3-9])|(1[0-2]))-(29|30)))))T(20|21|22|23|[0-1]\d):[0-5]\d:[0-5]\d([\-,\+](0[0-9]|10|11):00|([\+](12):00))"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSVerAplic">
    <xs:annotation>
      <xs:documentation>Tipo Versão do Aplicativo que gerou o documento fiscal</xs:documentation>
    </xs:annotation>
    <xs:restriction base="TSString">
      <xs:minLength value="1"/>
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSSerieDPS">
    <xs:restriction base="xs:string">
      <xs:maxLength value="5"/>
      <xs:minLength value="1"/>
      <xs:whiteSpace value="preserve"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSEmitenteDPS">
    <xs:annotation>
      <xs:documentation>
        Emitente da DPS:
        1 - Prestador
        2 - Tomador
        3 - Intermediário
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSChaveNFSe">
    <xs:annotation>
      <xs:documentation>Tipo Chave da Nota Fiscal de Serviço Eletrônica</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:maxLength value="50"/>
      <xs:pattern value="[0-9]{50}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSChaveNFe">
    <xs:annotation>
      <xs:documentation>Tipo Chave da Nota Fiscal Eletrônica - NF-e</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:maxLength value="44"/>
      <xs:pattern value="[0-9]{44}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSCodJustSubst">
    <xs:annotation>
      <xs:documentation>
        Código de justificativa para substituição de NFS-e:
        1 - Enquadramento / Desenquadramento do Simples Nacional;
        2 - Imunidade / Isenção retroativa;
        3 - Rejeição de NFS-e pelo tomador ou pelo intermediário se responsável pelo recolhimento do tributo;
        9 - Outros;
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
      <xs:enumeration value="9"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSMotivoSubst">
    <xs:annotation>
      <xs:documentation>Descrição do motivo da substituição da NFS-e</xs:documentation>
    </xs:annotation>
    <xs:restriction base="TSString">
      <xs:minLength value="15"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSCNPJ">
    <xs:annotation>
      <xs:documentation>Tipo Número do CNPJ</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:maxLength value="14"/>
      <xs:pattern value="[0-9]{14}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSCPF">
    <xs:annotation>
      <xs:documentation>Tipo Número do CPF</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:maxLength value="11"/>
      <xs:pattern value="[0-9]{11}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSNIF">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSInscMun">
    <xs:restriction base="xs:string">
      <xs:maxLength value="15"/>
      <xs:minLength value="1"/>
      <xs:whiteSpace value="preserve"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSNomeRazaoSocial">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="150"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSNomeFantasia">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="150"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSLogradouro">
    <xs:annotation>
      <xs:documentation>Logradouro</xs:documentation>
    </xs:annotation>
    <xs:restriction base="TSString">
      <xs:minLength value="1"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSNumeroEndereco">
    <xs:annotation>
      <xs:documentation>Número</xs:documentation>
    </xs:annotation>
    <xs:restriction base="TSString">
      <xs:minLength value="1"/>
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSComplementoEndereco">
    <xs:annotation>
      <xs:documentation>Complemento</xs:documentation>
    </xs:annotation>
    <xs:restriction base="TSString">
      <xs:minLength value="1"/>
      <xs:maxLength value="156"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSBairro">
    <xs:annotation>
      <xs:documentation>Bairro</xs:documentation>
    </xs:annotation>
    <xs:restriction base="TSString">
      <xs:minLength value="1"/>
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSUF">
    <xs:annotation>
      <xs:documentation>Tipo Sigla da UF</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:enumeration value="AC"/>
      <xs:enumeration value="AL"/>
      <xs:enumeration value="AM"/>
      <xs:enumeration value="AP"/>
      <xs:enumeration value="BA"/>
      <xs:enumeration value="CE"/>
      <xs:enumeration value="DF"/>
      <xs:enumeration value="ES"/>
      <xs:enumeration value="GO"/>
      <xs:enumeration value="MA"/>
      <xs:enumeration value="MG"/>
      <xs:enumeration value="MS"/>
      <xs:enumeration value="MT"/>
      <xs:enumeration value="PA"/>
      <xs:enumeration value="PB"/>
      <xs:enumeration value="PE"/>
      <xs:enumeration value="PI"/>
      <xs:enumeration value="PR"/>
      <xs:enumeration value="RJ"/>
      <xs:enumeration value="RN"/>
      <xs:enumeration value="RO"/>
      <xs:enumeration value="RR"/>
      <xs:enumeration value="RS"/>
      <xs:enumeration value="SC"/>
      <xs:enumeration value="SE"/>
      <xs:enumeration value="SP"/>
      <xs:enumeration value="TO"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSCEP">
    <xs:annotation>
      <xs:documentation>CEP</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:pattern value="[0-9]{8}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSEnderCompletoExt">
    <xs:restriction base="TSString">
      <xs:whiteSpace value="preserve"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSTelefone">
    <xs:annotation>
      <xs:documentation>
        Número do telefone do prestador:
        Preencher com o Código DDD + número do telefone.
        Nas operações com exterior é permitido informar o código do país + código da localidade + número do telefone
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:pattern value="[0-9]{6,20}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSEmail">
    <xs:restriction base="TSString">
      <xs:whiteSpace value="preserve"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="80"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TCCodTribMun">
    <xs:annotation>
      <xs:documentation>Código de tributação municipal do ISSQN</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:pattern value="[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSModPrestComExt">
    <xs:annotation>
      <xs:documentation>
        Modo de Prestação:
        1 - Transfronteiriço;
        2 - Consumo no Brasil;
        3 - Presença Comercial no Exterior;
        4 - Movimento Temporário de Pessoas Físicas;
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
      <xs:enumeration value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSCodMoeda">
    <xs:annotation>
      <xs:documentation>Tipo com código que identifica a moeda conforme tabela do BACEN</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:maxLength value="3"/>
      <xs:pattern value="[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSEnquadRVS">
    <xs:annotation>
      <xs:documentation>
        Mecanismos de Apoio / Fomento (Enquadramento) no RVS (Registro de Venda de Serviços):
        0 - Nenhum;
        1 - ACC - Adiantamento sobre Contrato de Câmbio – Redução a Zero do IR e do IOF;
        2 - ACE – Adiantamento sobre Cambiais Entregues - Redução a Zero do IR e do IOF;
        3 - BNDES-Exim Pós-Embarque – Serviços;
        4 - BNDES-Exim Pré-Embarque - Serviços;
        5 - FGE - Fundo de Garantia à Exportação;
        6 - PROEX - EQUALIZAÇÃO
        7 - PROEX - Financiamento;
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
      <xs:enumeration value="4"/>
      <xs:enumeration value="5"/>
      <xs:enumeration value="6"/>
      <xs:enumeration value="7"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSEnquadRPC">
    <xs:annotation>
      <xs:documentation>
        Mecanismos de Apoio / Fomento (Enquadramento) no RPC (Registro de Presença Comercial no Exterior):
        0 - Nenhum;
        1 - BNDES-Exim Pós-Embarque – Serviços;
        2 - FGE - Fundo de Garantia à Exportação;
        3 - PROEX - EQUALIZAÇÃO
        4 - PROEX - Financiamento;
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
      <xs:enumeration value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSMovTempBens">
    <xs:annotation>
      <xs:documentation>
        Operação está vinculada à Movimentação Temporária de Bens:
        1 - Não
        2 - Vinculada - Declaração de Importação
        3 - Vinculada - Declaração de Exportação
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSNumDocImport">
    <xs:annotation>
      <xs:documentation>Número da Declaração de Importação (DI/DSI/DA/DRI-E) averbado</xs:documentation>
    </xs:annotation>
    <xs:restriction base="TSString">
      <xs:minLength value="1"/>
      <xs:maxLength value="12"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSNumRegExport">
    <xs:annotation>
      <xs:documentation>Número do Registro de Exportação (RE) averbado</xs:documentation>
    </xs:annotation>
    <xs:restriction base="TSString">
      <xs:minLength value="1"/>
      <xs:maxLength value="12"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSEnvMDIC">
    <xs:annotation>
      <xs:documentation>Indicador se a NFS-e deverá ser disponibilizada ao MDIC</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
      <xs:pattern value="[0-9]{1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSPlaca">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:pattern value="[A-Z]{2,3}[0-9]{4}|[A-Z]{3,4}[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSNumEixos">
    <xs:annotation>
      <xs:documentation>Número de eixos para fins de cobrança</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:pattern value="[0-9]{2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSSentido">
    <xs:annotation>
      <xs:documentation>Orientação de passagem do veículo: ângulo em graus a partir do norte geográfico em sentido horário, número inteiro de 0 a 359, onde 0º seria o norte, 90º o leste, 180º o sul, 270º o oeste. Precisão mínima de 10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:pattern value="[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSIdeEvento">
    <xs:annotation>
      <xs:documentation>Identificação da Atividade de Evento (código identificador de evento determinado pela Administração Tributária Municipal)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSCodObra">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSInscImobFisc">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSDRT">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSDescInfCompl">
    <xs:restriction base="TSString">
      <xs:whiteSpace value="preserve"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="2000"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSCodVerificacao">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="9"/>
      <xs:pattern value="[a-zA-Z0-9]{1,9}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSSerieNFNFS">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="15"/>
      <xs:pattern value="[a-zA-Z0-9]{1,15}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSIdeDedRed">
    <xs:annotation>
      <xs:documentation>
        Identificação da Dedução/Redução:
        1 – Alimentação e bebidas/frigobar;
        2 – Materiais;
        3 – Produção externa;
        4 – Reembolso de despesas;
        5 – Repasse consorciado;
        6 – Repasse plano de saúde;
        7 – Serviços;
        8 – Subempreitada de mão de obra;
        99 – Outras deduções;
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
      <xs:enumeration value="4"/>
      <xs:enumeration value="5"/>
      <xs:enumeration value="6"/>
      <xs:enumeration value="7"/>
      <xs:enumeration value="8"/>
      <xs:enumeration value="99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSDescOutDedRed">
    <xs:annotation>
      <xs:documentation>Descrição da Dedução/Redução quando a opção é "99 – Outras Deduções"</xs:documentation>
    </xs:annotation>
    <xs:restriction base="TSString">
      <xs:whiteSpace value="preserve"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="150"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSIdeBenefMun">
    <xs:annotation>
      <xs:documentation>Identificador de um benefício municipal</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{9}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSOpSimpNac">
    <xs:annotation>
      <xs:documentation>
        Situação perante o Simples Nacional:
        1 - Não Optante;
        2 - Optante - Microempreendedor Individual (MEI);
        3 - Optante - Microempresa ou Empresa de Pequeno Porte (ME/EPP);
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSOpSNLimUltrap">
    <xs:annotation>
      <xs:documentation>
        Opção que indica se o limite do Simples Nacional foi ultrapassado:
        0 - Não ultrapassado;
        1 - Ultrapassado;
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:enumeration value="0"/>
      <xs:enumeration value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSRegEspTrib">
    <xs:annotation>
      <xs:documentation>
        Tipos de Regimes Especiais de Tributação:
        0 - Nenhum;
        1 - Ato Cooperado (Cooperativa);
        2 - Estimativa;
        3 - Microempresa Municipal;
        4 - Notário ou Registrador;
        5 - Profissional Autônomo;
        6 - Sociedade de Profissionais;
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:enumeration value="0"/>
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
      <xs:enumeration value="4"/>
      <xs:enumeration value="5"/>
      <xs:enumeration value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSExigibISSQN">
    <xs:annotation>
      <xs:documentation>
        Exigibilidade do ISSQN da NFS-e:
        1 - Exigível;
        2 - Imunidade
        3 - Benefício Municipal/Isenção;
        4 - Nao incidencia;
        5 - Exportacao;
        6 - Exigibilidade Suspensa por Decisao Judicial;
        7 - Exigibilidade Suspensa por Processo Administrativo;
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
      <xs:enumeration value="4"/>
      <xs:enumeration value="5"/>
      <xs:enumeration value="6"/>
      <xs:enumeration value="7"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSNumProcesso">
    <xs:annotation>
      <xs:documentation>
        Número do processo judicial ou administrativo de suspensão da exigibilidade.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="TSString">
      <xs:whiteSpace value="preserve"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSTipoImunidadeISSQN">
    <xs:annotation>
      <xs:documentation>
        Identificação da Imunidade do ISSQN – somente para o caso de Imunidade:
        1 - Patrimônio, renda ou serviços, uns dos outros (CF88, Art 150, VI, a);
        2 - Templos de qualquer culto (CF88, Art 150, VI, b);
        3 - Patrimônio, renda ou serviços dos partidos políticos, inclusive suas fundações, das entidades sindicais dos trabalhadores, das instituições de educação e de assistência social, sem fins lucrativos, atendidos os requisitos da lei (CF88, Art 150, VI, c);
        4 - Livros, jornais, periódicos e o papel destinado a sua impressão (CF88, Art 150, VI, d);
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
      <xs:enumeration value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSTipoRetISSQN">
    <xs:annotation>
      <xs:documentation>
        Tipo de retencao do ISSQN:
        1 - Não Retido;
        2 - Retido pelo Tomador;
        3 - Retido pelo Intermediario;
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSTipoCST">
    <xs:annotation>
      <xs:documentation>
        Código de Situação Tributária do PIS/COFINS (CST):
        1 - Operação Tributável com Alíquota Básica;
        2 - Operação Tributável com Alíquota Diferenciada;
        3 - Operação Tributável com Alíquota por Unidade de Medida de Produto;
        4 - Operação Tributável monofásica - Revenda a Alíquota Zero;
        5 - Operação Tributável por Substituição Tributária;
        6 - Operação Tributável a Alíquota Zero;
        7 - Operação Tributável da Contribuição;
        8 - Operação sem Incidência da Contribuição;
        9 - Operação com Suspensão da Contribuição;
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
      <xs:enumeration value="4"/>
      <xs:enumeration value="5"/>
      <xs:enumeration value="6"/>
      <xs:enumeration value="7"/>
      <xs:enumeration value="8"/>
      <xs:enumeration value="9"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSTipoRetPISCofins">
    <xs:annotation>
      <xs:documentation>
        Tipo de retencao do Pis/Cofins:
        1 - Retido;
        2 - Não Retido;
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSTipoIndTotTrib">
    <xs:annotation>
      <xs:documentation>
        Indicador de informação de valor total de tributos. Possui valor fixo igual a zero (indTotTrib=0).
        Não informar nenhum valor estimado para os Tributos (Decreto 8.264/2014).
        0 - Não;
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:enumeration value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TStat">
    <xs:annotation>
      <xs:documentation>Código do Status da mensagem</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:maxLength value="3"/>
      <xs:pattern value="[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSNumDPS">
    <xs:annotation>
      <xs:documentation>Tipo Número do DPS</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:maxLength value="15"/>
      <xs:pattern value="[1-9]{1}[0-9]{0,14}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSNumNFSe">
    <xs:annotation>
      <xs:documentation>Tipo Número da NFS-e</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:maxLength value="14"/>
      <xs:pattern value="[1-9]{1}[0-9]{0,13}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSCodMunIBGE">
    <xs:annotation>
      <xs:documentation>Tipo Código do Município segundo tabela IBGE</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:pattern value="[0-9]{7}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSCodPaisISO">
    <xs:annotation>
      <xs:documentation>Tipo Código do País segundo tabela ISO</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:pattern value="[A-Z]{2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSCodTribNac">
    <xs:annotation>
      <xs:documentation>
        Código de tributação nacional do ISSQN:
        Regra de formação - 6 dígitos numéricos sendo: 2 para Item (LC 116/2003), 2 para Subitem (LC 116/2003) e 2 para Desdobro Nacional
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:pattern value="[0-9]{6}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSCodNBS">
    <xs:annotation>
      <xs:documentation>
        Código da lista de Nomenclatura Brasileira de Serviços (NBS)
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:pattern value="[0-9]{9}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TSDesc150">
    <xs:restriction base="TSString">
      <xs:minLength value="1"/>
      <xs:maxLength value="150"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSDesc255">
    <xs:restriction base="TSString">
      <xs:whiteSpace value="preserve"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSDesc2000">
    <xs:restriction base="TSString">
      <xs:minLength value="1"/>
      <xs:maxLength value="2000"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TSDec15V2">
    <xs:annotation>
      <xs:documentation>Valor decimal com 1 a 15 dígitos mais 2 casas decimais</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:pattern value="0|0\.[0-9]{2}|[1-9]{1}[0-9]{0,14}(\.[0-9]{2})?"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSDec1V2">
    <xs:annotation>
      <xs:documentation>Valor decimal com 1 dígito mais 2 casas decimais</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:pattern value="0|[0-9]{1}(\.[0-9]{2})?"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSDec2V2">
    <xs:annotation>
      <xs:documentation>Valor decimal com 1 ou 2 dígitos mais 2 casas decimais</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:pattern value="0|0\.[0-9]{2}|[1-9]{1}[0-9]{0,1}(\.[0-9]{2})?"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSDec3V2">
    <xs:annotation>
      <xs:documentation>Valor decimal com 1 a 3 dígitos mais 2 casas decimais</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:pattern value="0|0\.[0-9]{2}|[1-9]{1}[0-9]{0,2}(\.[0-9]{2})?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TSNum7Dig">
    <xs:annotation>
      <xs:documentation>Número com 7 dígitos</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:maxLength value="7"/>
      <xs:pattern value="[0-9]{7}"/>
    </xs:restriction>
  </xs:simpleType>  
  <xs:simpleType name="TSNum14Dig">
    <xs:annotation>
      <xs:documentation>Número com 14 dígitos</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:maxLength value="14"/>
      <xs:pattern value="[0-9]{14}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TSNum15Dig">
    <xs:annotation>
      <xs:documentation>Número com 15 dígitos</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:maxLength value="15"/>
      <xs:pattern value="[0-9]{15}"/>
    </xs:restriction>
  </xs:simpleType>
  
</xs:schema>